@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/*----RESET----*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: white;
}
h1, h2, h3, h4, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style: none;
    padding: 0;
}
input{
    outline: 0;
    font-family: inherit;
    border: 0;
}
button{
    border: 0;
    font-family: inherit;
}

img{
    display: block;
    width: 100%;
}